.comment-gallery {
width: 100%;
grid-area: comment;
border-top: 2px dashed #262626;

display: flex;
flex-wrap: wrap;
justify-content: center;
}

h2 {
    width: 100%;
}

.add-comment{
    width: 100%;
}
.comment-added {
    justify-self: center;
}

.comment-card {
    max-width: 500px;
    flex-grow: 1;
    border: 2px solid #262626;
    box-shadow: 8px 8px #262626;
    margin: 20px ;
    padding: 10px 20px;
    text-align: left;

    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1px;
    align-items: center;
    grid-template-areas: 
        "author author"
        "comment comment"
        "date votes";
}

.author {
    grid-area: author;
}

.comment-body{
    grid-area: comment;

    background-color: rgb(232, 232, 232);
    border-radius: 1px;
    padding: 0px 10px;
}

.date {
    grid-area: date;
}
.comment-vote {
    grid-area: votes;
    justify-self: right;
}

.add-comment-form {
    justify-self: center;
    border: 2px solid #262626;
    box-shadow: 8px 8px #262626;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    padding-left: 15px;
    display:flex;
    flex-wrap: wrap;
}

.add-label {
    width: 100%;
    text-align: left;
}

#comment {
    margin: 10px 0px;
    background-color: rgb(232, 232, 232);
    border: none;
    align-self: center;
    flex-shrink: 1;
    height: 100px;
    width: 450px;
    resize: none;
}

