.App {
  text-align: center;
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 72% 25%;
  grid-template-rows: 100px auto;
  gap: 10px;
}

/* Banner Section */
.banner {
  border: solid 1px black;
}

.current-user {
  border: solid 1px black;
}

/* Review Gallery */
.review-gallery {
  border: solid 1px black;
  grid-column: 1 / span 2;
  min-height: 800px;
}

.filter-bar {
  margin: 5px;
  border: solid 1px black;
}

/* Sample Review Card */
.sample-review-card {
  margin: 10px 5px;
  padding: 5px;
  border: solid 1px black;
}

.sample-img-container {
  height: 200px;
  overflow: hidden;
}

.sample-img {
  margin: -100px;
  max-width: 100%;
  object-fit: cover;
} 

.sample-body {
  line-height: 2ch;
  overflow: hidden;
  width: 90%;
  text-overflow: clip;
  height: 2.5em;
  white-space: wrap;
}