.App {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  min-width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: 72% 25%;
  grid-template-rows: 100px auto;
  gap: 10px;
  background-color: #F2B705;
}

/* Banner Section */
.banner {
  border: solid 1px black;
}

.current-user {
  border: solid 1px black;
}










